@import 'aos/dist/aos.css'; /*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;500&display=swap');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --swiper-navigation-color: #fff;
  --swiper-theme-color: #fff;
  --swiper-pagination-color: #fff;
}

.swiper-button-next{
  @apply  mr-8
}

.swiper-button-prev{
  @apply ml-8
}

.swiper-button-prev:after, .swiper-button-next:after{
  @apply !text-lg lg:!text-5xl
}


@font-face {
  font-family: 'GT America Standard Regular';
  src: url('/fonts/gt-america-standard-regular.ttf') format('truetype');
  /* Add more src lines for different font variations (e.g., bold, italic) */
}

ul{
  @apply list-outside list-none
}
body{
  font-family: 'GT America Standard Regular', sans-serif;
}
p, article{
  font-family: "GT America Standard Regular", serif;
}

h1{
  @apply font-semibold text-xl md:text-4xl
}

h1.title{
  @apply text-6xl md:text-5xl
}

h2.title{
  @apply font-semibold text-xl
}

.card-shadow{
  @apply shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] hover:shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]
}


/*SLIDER*/
.swiper {
  /*width: 100%;*/
  /*height: 100%;*/
  min-height: unset !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  color:white;
  /* Center slide text vertically */
  display: flex;
  /*@apply shadow-[inset_-12px_-8px_40px_#46464620]*/
}

.swiper-slide img {
  display: block;
  /*width: 100%;*/
  /*height: 100%;*/
  object-fit: cover;
}
#primary .skiptranslate{
  @apply flex gap-2 !text-primary
}

.skiptranslate {
  @apply flex gap-2 !text-white
}
.skiptranslate .goog-te-combo{
  @apply !text-black
}
.skiptranslate span{
  @apply hidden
}

#news-section p {
  @apply text-[15px] overflow-hidden text-ellipsis flex-nowrap
}

footer li{
  @apply hover:text-primary   cursor-pointer
}

